

.product-card{
    width: 250px!important;
    /* height: 300px!important; */
 
}
 
.card{
    padding:0px!important;
}

.card:hover{

    border: 1px solid rgba(0, 0, 0, 0.538);
    box-shadow: 5px 5px 5px 5px #888888;

}

.card-img-top-card{
    width: 175px;
    margin: auto;
    padding-top: 10px;
    object-fit: contain;

}

.card-img-top,.card:hover{
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

.card-title,.card-text{
    font-size: small;
    text-align: center;
}

.card,.card-body{
    cursor: pointer;
}

.checked {
    color: orange;
  }

  .rate{
    margin: auto;
    padding-bottom: 6px ;
  }

.prod-price{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin-bottom: 0px!important;
}

.buy-btn{
    width: 100%;
}